*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-image{
    margin-top: 22px;
    margin-right: 600px;
    position: relative;
    z-index: 1;
}
.calculator{
    width: 100%;
    max-width: 380px;
    min-height: 650px;
    background: #323232;
    box-shadow: -5px 5px 8px 0px rgba(0, 0, 0, 0.30);
    padding: 140px 52px 65px 52px;
    position: absolute;
    z-index: 2;
    align-items: center;
}
.display{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
button{
    width: 55px;
    height: 55px;
    border-radius: 40px;
    border: none;
    outline: none;
    background-color: #74EBD5;
    box-shadow: -3px 4px 18px 0px rgba(0, 0, 0, 0.20) inset;
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    margin: 10px 15px 15px 15px;
    cursor: pointer;
}
.number{
    color: #323232;
    background-color: #F8F8F8;
}
span{
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
}
.plus-minus{
    padding: 3px;
}
.hr{
    border-color: #74EBD5;
    width: 310px;
    margin-left: 20px;
}
.prev-result{
    margin-bottom: 60px;
} */
body{
    margin-top: 100px;
    background-image: url("./img/Vector\ 1.png");
    background-repeat: no-repeat;
    background-position: 10%;
}
hr{
    width: 310px;
    align-self: center;
}
.app{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 100%;
    max-width: 414px;
    min-height: 736px;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.display{
    min-height: 300px;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff;
    text-align: right;
}
.display .input{
    font-size: 2rem;
    margin-bottom: 3rem;
}
.display .output{
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    max-width: 100%;
    overflow: auto;
}
.buttons{
    padding: 20px 40px 70px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.btn{
    width: 55px;
    height: 55px;
    border-radius: 40px;
    border: none;
    outline: none;
    background-color: #74EBD5;
    box-shadow: -3px 4px 18px 0px rgba(0, 0, 0, 0.20) inset;
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    padding: 10px 16px;
    font-family: 'Roboto', sans-serif;
    margin: 12px;
    cursor: pointer;
    text-align: center;
}
.number{
    color: #323232;
    background-color: #F8F8F8;
}